<nav class="navbar navbar-expand-sm bg-info">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <span class="dot"></span>&nbsp;Chatbot está online
            </a>
        </li>
    </ul>
</nav>
<br>

<form name="conversaForm" [formGroup]="conversaForm">
    <div>
        <div style="overflow-y:scroll; height: 420px; width: 100%;" align="center" id="msg">
            <div class="talk-bubble tri-right left-top" style="width: 90%; background-color: #00aabb;">
                <div class="talktext">
                    <p>Olá! Em que posso ajudar?</p>
                </div>
            </div>
            
            <!-- <div *ngFor="let item of perguntasChatbot" class="talk-bubble tri-right right-top" style="width: 90%; background-color: #8000ff;">
                <div class="talktext">
                    <p>{{item.input}}</p>
                </div>
            </div> -->
            <div *ngFor="let arrayItens of respostaChatbot" >
                <div class="talk-bubble tri-right right-top" style="width: 90%; background-color: #8000ff;">
                    <div class="talktext" *ngFor="let item of arrayItens">
                        <p>{{item.input}}</p>
                    </div>
                </div>
                <div class="talk-bubble tri-right left-top" style="width: 90%; background-color: #00aabb;">
                    <div class="talktext" *ngFor="let item of arrayItens">
                        <p>{{item.output}}</p>
                    </div>
                </div>
            </div>
        
            
        </div>
        <input type="text" id="input" formControlName="input" class="form-control" (keypress)="send($event)"
            placeholder="Digite a sua mensagem e tecle Enter...">
    </div>
    <input type="hidden" id="code_user" value="[code_user]">
    <input type="hidden" id="code_before" value="0">
    
</form>

<span id="feed_item">